{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

<article{{attributes.addClass(classes)}}>

{{ attach_library('subtheme/front') }}


	<body
		class="is-preload">

		<!-- Header -->
		<header id="header">
			<div class="content">
				<h1>
					<a href="#">Videotrucades</a>
				</h1>
				<p>Monta la teva propia infraestructura <br> de videoconferencias
         en <strong> 1 minut </strong>
				</p>
				<ul class="actions">
					<li>
<a href="#" class="button primary solid glyphicon glyphicon-log-in">  Registret</a>

					</li>
					<li>
            <a href="#one" class="button solid glyphicon glyphicon-ok scrolly">  Demo</a>
					</li>
				</ul>
			</div>
			<div class="image phone 2">
<div class="inner"><img src="{{ directory }}/css/images/screen5.jpeg" alt=""/></div>

			</div>
		</header>

		<!-- One -->
		<section id="one" class="wrapper style2 special">
			<header class="major">
				<h2>El teu servei de conferencias <br> en tres senzills passos</h2>
			</header>
			<ul class="icons major">
				<li>
            <span class="solid glyphicon glyphicon-log-in">

						<span class="label"> Registre't </span>
					</span>
				</li>
				<li>
          <span class="solid glyphicon glyphicon-edit">
						<span class="label"> Personalitza </span>
					</span>
				</li>
				<li>
          <span class=" solid  glyphicon glyphicon-headphones">
						<span class="label"> Llença</span>
					</span>
				</li>
			</ul>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper">
			<div class="inner alt">
				<section class="spotlight">
					<div class="image"><img src="{{directory}}/css/images/pic01.jpg" alt=""/></div>
					<div class="content">
						<h3>Registra't</h3>
						<p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
					</div>
				</section>
				<section class="spotlight">
          <div class="image"><img src="{{directory}}/css/images/pic02.png" alt=""/></div>

					<div class="content">
						<h3>Indican's el nom de la teva sala</h3>
						<p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
					</div>
				</section>
				<section class="spotlight">
					<div class="image"><img src="{{directory}}/css/images/pic303.jpg" alt=""/></div>
					<div class="content">
						<h3>Entra al teu servei de conferencies personalitzat </h3>
						<p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
					</div>
				</section>
				<section class="special">
					<ul class="icons labeled">
						<li>
            <span class="glyphicon glyphicon-plane">
								Rendiment
							</span>
						</li>
						<li>
            <span class="glyphicon glyphicon-sunglasses">
								Privacitat
							</span>
						</li>
						<li>
              <span class="glyphicon glyphicon-send">
								Cost a demanda
							</span>
						</li>
						<li>
              <span class="glyphicon glyphicon-thumbs-up">
								Software lliure
							</span>
						</li>
						<li>
              <span class="glyphicon glyphicon-headphones">
								Jitsi Powered
							</span>
						</li>
					</ul>
				</section>
			</div>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style2 special">
			<header class="major">
				<h2>Registrat</h2>
				<p>Gravida at leo elementum elit fusce accumsan dui libero, quis vehicula<br/>
					lectus ultricies eu. In convallis amet leo sapien iaculis efficitur.</p>
			</header>
			<ul class="actions special">
				<li>
					<a href="#" class="button primary icon solid fa-download">Download</a>
				</li>
				<li>
					<a href="#" class="button">Learn More</a>
				</li>
			</ul>
		</section>


		<!-- Footer -->
		<footer id="footer">
			<p class="copyleft">&copy; Credits:
        <a href="https://hackovid.cat/">Stay Alive for Hackovid19</a>
			</p>
		</footer>

		<!-- Scripts -->

	</body>



</article>

